div.container section.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
div.container section.places h1 {
    font-size: 30px;
    flex: 100%;
}
div.container section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}
div.container section.places article h2 {
    margin-left: auto;
    font-size: 30px;
}

div.container section.places article div.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container section.places article div.information {
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.container section.places article div.information div.max_guest {
    width: 100px;
}

div.container section.places article div.information div.number_rooms {
    width: 100px;
}
div.container section.places article div.information div.number_bathrooms {
    width: 100px;
}
div.container section.places article div.information div.max_guest div.guest_icon {
    background-image: url(../images/icon_group.png);
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
}

div.container section.places article div.information div.number_rooms div.rooms_icon {
    background-image: url(../images/icon_bed.png);
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
}

div.container section.places article div.information div.number_bathrooms div.bath_icon {
    background-image: url(../images/icon_bath.png);
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
}

div.container section.places article div.user {
    margin-top: 20px;
    margin-bottom: 15px;
}
article .amenities,
article .reviews {
    margin-top: 40px;
    width: 100%;
}
article .amenities h2,
article .reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
article .amenities ul,
article .reviews ul {
    padding-left: 0;
}
article .amenities li {
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.icon-tv, .icon-wifi, .icon-pets {
    background-image: url(../images/icon_tv.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.icon-tv {
    background-image: url(../images/icon_tv.png);
}
.icon-wifi {
    background-image: url(../images/icon_wifi.png);
}
.icon-pets {
    background-image: url(../images/icon_pets.png);
}
article .reviews li {
    list-style-type: none;
}
article .reviews h3 {
    font-size: 14px;
    margin: 5px auto;
}
article .reviews p {
    font-size: 12px;
    margin: 5px auto 20px auto;
}
